// 根据不同的dpi将边框进行缩放 -webkit-min-device-pixel-ratio: 1.5 dip的值
// 1.5 * 0.7趋近于1px
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
    .border-1px{
        &::after{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }

    }
}
// 2 * 0.5 趋近于1px
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    .border-1px{
        &::after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }

    }
}
html,body{
    height: 100%;
}
.fontSize16{
    font-size: 16px;
}
.fontSize12{
    font-size: 12px;
}
.fontSize14{
    font-size: 14px;
}
span,i{
    display:inline-block;
}
.overFlow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.breakRow{
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.blurFilter{
    filter: blur(10px);
}
.clearFix{
    &::after{
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
}